## NASA Open APIs - Mars Rover Photos

### Install neccessary packages

In [2]:
!pip install sqlalchemy psycopg2-binary

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.36-cp312-cp312-manylinux_2_17_aarch64.manylinux2014_aarch64.whl.metadata (9.7 kB)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_aarch64.manylinux2014_aarch64.whl.metadata (4.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp312-cp312-manylinux_2_17_aarch64.manylinux2014_aarch64.whl.metadata (3.8 kB)
Downloading SQLAlchemy-2.0.36-cp312-cp312-manylinux_2_17_aarch64.manylinux2014_aarch64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 20.2 MB/s eta 0:00:00a 0:00:01
Downloading psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_aarch64.manylinux2014_aarch64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 33.3 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp312-cp312-manylinux_2_17_aarch64.manylinux2014_aarch64.whl (649 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 649.1/649.1 kB 24.8 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 psycopg2-binary-2.9.10 sqlalchemy-2.0.36
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

### Import neccessary packages

In [35]:
import pandas as pd
import numpy as np
import requests
from datetime import datetime, timedelta
from io import StringIO
from sqlalchemy import create_engine, Integer, String, Date, MetaData, Table, Column, text

### Create db engine

In [27]:
engine=create_engine('postgresql://admin:password@192.168.50.52:5432/lab4')

### Create DB schema

In [28]:
meta = MetaData()

photos_stats_table = Table('photos_stats', meta,
                        Column('id', Integer, primary_key=True, autoincrement=True),
                        Column('earth_date', Date),
                        Column('camera_name', String),
                        Column('photo_count', Integer),
                        Column('rover_status', String)
                    )

meta.create_all(engine)

### Define helper functions for fetch photos from API by specific date

In [29]:
def fetch_photos(earth_date, base_url, rover, api_key):
    url = f"{base_url}/{rover}/photos"
    params = {
        'api_key': api_key,
        'earth_date': earth_date
    }
    response = requests.get(url, params=params)
    if response.status_code == 200:
        return response.json()['photos']
    else:
        print(f"Error: {response.status_code} on date {earth_date}")
        return []

### Define main function for retrieving data and save it to DB from API

In [33]:
def process_and_store_data(start_date, end_date, base_url, rover, api_key, engine):
    start = datetime.strptime(start_date, '%Y-%m-%d')
    end = datetime.strptime(end_date, '%Y-%m-%d')
    delta = timedelta(days=1)

    data_to_insert = []

    while start <= end:
        earth_date = start.strftime('%Y-%m-%d')
        print(f"Fetching data for {earth_date}")
        
        photos = fetch_photos(earth_date, base_url, rover, api_key)
        camera_counts = {}
        
        for photo in photos:
            camera = photo['camera']['name']
            camera_counts[camera] = camera_counts.get(camera, 0) + 1
        
        rover_status = photos[-1]['rover'].get('status', 'unknown') if photos else 'unknown'
        
        for camera, count in camera_counts.items():
            data_to_insert.append({
                'earth_date': earth_date,
                'camera_name': camera,
                'photo_count': count,
                'rover_status': rover_status
            })
        
        start += delta

    if data_to_insert:
        df = pd.DataFrame(data_to_insert).to_sql('photos_stats', con=engine, if_exists='append', index=False)
        print("Data successfully inserted into 'photos_stats' table.")
    else:
        print("No data to insert.")

### Call main function and specify contstants

In [34]:
API_KEY = 'Token'
ROVER = 'Curiosity'
BASE_URL = 'https://api.nasa.gov/mars-photos/api/v1/rovers'
START_DATE = '2022-01-01'
END_DATE = '2022-01-05'

process_and_store_data(START_DATE, END_DATE, BASE_URL, ROVER, API_KEY, engine)

Fetching data for 2022-01-01
Fetching data for 2022-01-02
Fetching data for 2022-01-03
Fetching data for 2022-01-04
Fetching data for 2022-01-05
Data successfully inserted into 'photos_stats' table.

### Check data in db

In [36]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM photos_stats"))

for row in result:
    print(row)

(1, datetime.date(2022, 1, 1), 'FHAZ', 5, 'active')
(2, datetime.date(2022, 1, 1), 'RHAZ', 2, 'active')
(3, datetime.date(2022, 1, 1), 'MAST', 353, 'active')
(4, datetime.date(2022, 1, 1), 'CHEMCAM', 24, 'active')
(5, datetime.date(2022, 1, 1), 'MAHLI', 68, 'active')
(6, datetime.date(2022, 1, 1), 'MARDI', 2, 'active')
(7, datetime.date(2022, 1, 1), 'NAVCAM', 27, 'active')
(8, datetime.date(2022, 1, 2), 'FHAZ', 2, 'active')
(9, datetime.date(2022, 1, 2), 'RHAZ', 2, 'active')
(10, datetime.date(2022, 1, 2), 'MAST', 221, 'active')
(11, datetime.date(2022, 1, 2), 'CHEMCAM', 4, 'active')
(12, datetime.date(2022, 1, 2), 'MAHLI', 16, 'active')
(13, datetime.date(2022, 1, 2), 'MARDI', 2, 'active')
(14, datetime.date(2022, 1, 2), 'NAVCAM', 196, 'active')
(15, datetime.date(2022, 1, 3), 'CHEMCAM', 3, 'active')
(16, datetime.date(2022, 1, 3), 'NAVCAM', 130, 'active')
(17, datetime.date(2022, 1, 5), 'FHAZ', 4, 'active')
(18, datetime.date(2022, 1, 5), 'RHAZ', 2, 'active')
(19, datetime.date(2022, 1, 5), 'MAST', 237, 'active')
(20, datetime.date(2022, 1, 5), 'CHEMCAM', 32, 'active')
(21, datetime.date(2022, 1, 5), 'MAHLI', 33, 'active')
(22, datetime.date(2022, 1, 5), 'MARDI', 2, 'active')
(23, datetime.date(2022, 1, 5), 'NAVCAM', 178, 'active')