## Install neccessary packages

In [3]:
!pip install pandas numpy requests

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux2014_aarch64.manylinux_2_17_aarch64.whl.metadata (89 kB)
Collecting numpy
  Downloading numpy-2.2.2-cp312-cp312-manylinux_2_17_aarch64.manylinux2014_aarch64.whl.metadata (63 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.12/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/site-packages (from requests) (2024.12.14)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux2014_aarch64.manylinux_2_17_aarch64.whl (15.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.2/15.2 MB 22.5 MB/s eta 0:00:00a 0:00:01
Downloading numpy-2.2.2-cp312-cp312-manylinux_2_17_aarch64.manylinux2014_aarch64.whl (14.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 19.9 MB/s eta 0:00:00a 0:00:01
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

### Fetch and process data

### Import neccessary packages

In [4]:
import pandas as pd
import numpy as np
import requests
from io import StringIO

### Make helper function for load data. -> return DataFrame

In [5]:
def load_data(base_url, year, station_id):
    url = f"{base_url}/{year}/{station_id}.csv"

    response = requests.get(url)
    data = StringIO(response.text)

    return pd.read_csv(data)

### Function for cleaning and transforming data (convert types/values, delete not valid records etc)

In [8]:
def clear_and_tranform_data(df):
    # Конвертація колонки DATE в формат datetime
    df["DATE"] = pd.to_datetime(df["DATE"])

    # Робимо конвертацію колонок TMP та DEW в строку, для того щоб видалити символи контролю якості (останні дві позиції)
    df["TMP"] = df["TMP"].astype(str)
    df["DEW"] = df["DEW"].astype(str)

    # Видаляємо символи контролю якості
    df["TMP"] = df["TMP"].str.slice(0, -2)
    df["DEW"] = df["DEW"].str.slice(0, -2)

    # Робимо конвертацію колонок TMP та DEW в числове значення
    df["TMP"] = pd.to_numeric(df["TMP"], errors="coerce")
    df["DEW"] = pd.to_numeric(df["DEW"], errors="coerce")

    # Позначимо значення для DEW -> 9999; TMP -> 9999, як пропущенні, оскільки в документації до даних вказано, що данні значення вважаються пропущеними
    df["TMP"] = df["TMP"].replace(9999, np.nan)
    df["DEW"] = df["DEW"].replace(9999, np.nan)
    
    # Видаляємо записи з пропущеними значеннями для колонок TMP та DEW
    df.dropna(subset=["TMP", "DEW"], inplace=True)

    # Видаляємо дублікати
    df.drop_duplicates(inplace=True)

    # Оскільки датасет поданий в масштабованому форматі (в документації для полів TMP та DEW вказаний SCALING_FACTOR: TMP, DEW -> 10). То проведемо трансформацію
    df["TMP"] = df["TMP"] / 10
    df["DEW"] = df["DEW"] / 10

    return df

### Function for calculate diff of TMP and DEW

In [9]:
def calculate_tmp_dew_diff(df):
    df["Temp_Dew_Diff"] = df["TMP"] - df["DEW"]
    return df

### Aggregate data by day of week and calculate mean ratio between TMP and DEW

In [10]:
def aggregate_data(df):
    # Додаємо нову колонку для ідентифікація дня тижня
    df["Day_Of_Week"] = df["DATE"].dt.day_name()

    # Агрегуємо дані по дням тижня
    aggregated_df = df.groupby("Day_Of_Week").agg({
        "TMP": ["mean", "max", "min"],
        "DEW": ["mean", "max", "min"]
    })

    # Переназиваємо колонки, оскільки після агрегації вони багато рівневими
    aggregated_df.columns = ['_'.join(col) for col in aggregated_df.columns]

    # Вказуємо порядок днів тижня, оскільки без цього воно виводить їх у алфавітному
    day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    aggregated_df = aggregated_df.reindex(day_order)

    # Знаходимо середнє співвідношення між колонками TMP та DEW
    aggregated_df["Temp_Dew_Ratio"] = aggregated_df["TMP_mean"] / aggregated_df["DEW_mean"]
    
    return aggregated_df

### Call helper functions (load data)

In [6]:
# Константи
BASE_URL = "https://www.ncei.noaa.gov/data/global-hourly/access"
YEAR = "2024"
STATION_ID = "01015099999"

# Визиваємо функції завантаження датасету
df = load_data(BASE_URL, YEAR, STATION_ID)

# Виводу коротку інформацію даних
print(df.head())
print(df.dtypes)

      STATION                 DATE  SOURCE  LATITUDE  LONGITUDE  ELEVATION  \
0  1015099999  2024-01-01T00:00:00       4      69.6  17.833333       14.0
1  1015099999  2024-01-01T01:00:00       4      69.6  17.833333       14.0
2  1015099999  2024-01-01T02:00:00       4      69.6  17.833333       14.0
3  1015099999  2024-01-01T03:00:00       4      69.6  17.833333       14.0
4  1015099999  2024-01-01T04:00:00       4      69.6  17.833333       14.0

                NAME REPORT_TYPE  CALL_SIGN QUALITY_CONTROL  ...          CIG  \
0  HEKKINGEN FYR, NO       FM-12      99999            V020  ...  99999,9,9,N
1  HEKKINGEN FYR, NO       FM-12      99999            V020  ...  99999,9,9,N
2  HEKKINGEN FYR, NO       FM-12      99999            V020  ...  99999,9,9,N
3  HEKKINGEN FYR, NO       FM-12      99999            V020  ...  99999,9,9,N
4  HEKKINGEN FYR, NO       FM-12      99999            V020  ...  99999,9,9,N

            VIS      TMP      DEW      SLP            KA1            KA2  OC1  \
0  999999,9,9,9  -0058,1  -0114,1  99999,9  120,M,-0058,1  120,N,-0063,1  NaN
1  999999,9,9,9  -0058,1  -0124,1  99999,9  240,M,-0057,1  240,N,-0061,1  NaN
2  999999,9,9,9  -0059,1  -0121,1  99999,9  240,M,-0057,1  240,N,-0060,1  NaN
3  999999,9,9,9  -0059,1  -0119,1  99999,9  240,M,-0058,1  240,N,-0061,1  NaN
4  999999,9,9,9  -0059,1  -0125,1  99999,9  240,M,-0057,1  240,N,-0060,1  NaN

               OD1                                                REM
0  3,99,0120,1,999  SYN05801015 46/// /1310 11058 21114 333 11058 ...
1  3,99,0120,1,999  SYN05801015 46/// /1310 11058 21124 333 11057 ...
2  3,99,0130,1,999  SYN05801015 46/// /1310 11059 21121 333 11057 ...
3  3,99,0120,1,999  SYN05801015 46/// /1311 11059 21119 333 11058 ...
4  3,99,0130,1,999  SYN05801015 46/// /1410 11059 21125 333 11057 ...

[5 rows x 21 columns]
STATION              int64
DATE                object
SOURCE               int64
LATITUDE           float64
LONGITUDE          float64
ELEVATION          float64
NAME                object
REPORT_TYPE         object
CALL_SIGN            int64
QUALITY_CONTROL     object
WND                 object
CIG                 object
VIS                 object
TMP                 object
DEW                 object
SLP                 object
KA1                 object
KA2                 object
OC1                 object
OD1                 object
REM                 object
dtype: object

In [11]:
df_transformed = clear_and_tranform_data(df.copy())

# Після очистки даних видалився лише один запис
print(df.shape[0])
print(df_transformed.shape[0])

# Коротка інформація про очищені та трансформовані дані
print(df_transformed.head())
print(df_transformed.dtypes)

df_calcuted = calculate_tmp_dew_diff(df_transformed.copy())

# Коротка інформація про дані після розрахунку різниці між TMP та DEW
print(df_calcuted.head())
print(df_calcuted.dtypes)

df_aggregated = aggregate_data(df_calcuted.copy())

# Коротка інформація про дані після агрегації
print(df_aggregated)
print(df_aggregated.dtypes)

df_aggregated.to_csv("date_of_week_weather_date.csv")

7531
7530
      STATION                DATE  SOURCE  LATITUDE  LONGITUDE  ELEVATION  \
0  1015099999 2024-01-01 00:00:00       4      69.6  17.833333       14.0
1  1015099999 2024-01-01 01:00:00       4      69.6  17.833333       14.0
2  1015099999 2024-01-01 02:00:00       4      69.6  17.833333       14.0
3  1015099999 2024-01-01 03:00:00       4      69.6  17.833333       14.0
4  1015099999 2024-01-01 04:00:00       4      69.6  17.833333       14.0

                NAME REPORT_TYPE  CALL_SIGN QUALITY_CONTROL  ...          CIG  \
0  HEKKINGEN FYR, NO       FM-12      99999            V020  ...  99999,9,9,N
1  HEKKINGEN FYR, NO       FM-12      99999            V020  ...  99999,9,9,N
2  HEKKINGEN FYR, NO       FM-12      99999            V020  ...  99999,9,9,N
3  HEKKINGEN FYR, NO       FM-12      99999            V020  ...  99999,9,9,N
4  HEKKINGEN FYR, NO       FM-12      99999            V020  ...  99999,9,9,N

            VIS  TMP   DEW      SLP            KA1            KA2  OC1  \
0  999999,9,9,9 -5.8 -11.4  99999,9  120,M,-0058,1  120,N,-0063,1  NaN
1  999999,9,9,9 -5.8 -12.4  99999,9  240,M,-0057,1  240,N,-0061,1  NaN
2  999999,9,9,9 -5.9 -12.1  99999,9  240,M,-0057,1  240,N,-0060,1  NaN
3  999999,9,9,9 -5.9 -11.9  99999,9  240,M,-0058,1  240,N,-0061,1  NaN
4  999999,9,9,9 -5.9 -12.5  99999,9  240,M,-0057,1  240,N,-0060,1  NaN

               OD1                                                REM
0  3,99,0120,1,999  SYN05801015 46/// /1310 11058 21114 333 11058 ...
1  3,99,0120,1,999  SYN05801015 46/// /1310 11058 21124 333 11057 ...
2  3,99,0130,1,999  SYN05801015 46/// /1310 11059 21121 333 11057 ...
3  3,99,0120,1,999  SYN05801015 46/// /1311 11059 21119 333 11058 ...
4  3,99,0130,1,999  SYN05801015 46/// /1410 11059 21125 333 11057 ...

[5 rows x 21 columns]
STATION                     int64
DATE               datetime64[ns]
SOURCE                      int64
LATITUDE                  float64
LONGITUDE                 float64
ELEVATION                 float64
NAME                       object
REPORT_TYPE                object
CALL_SIGN                   int64
QUALITY_CONTROL            object
WND                        object
CIG                        object
VIS                        object
TMP                       float64
DEW                       float64
SLP                        object
KA1                        object
KA2                        object
OC1                        object
OD1                        object
REM                        object
dtype: object
      STATION                DATE  SOURCE  LATITUDE  LONGITUDE  ELEVATION  \
0  1015099999 2024-01-01 00:00:00       4      69.6  17.833333       14.0
1  1015099999 2024-01-01 01:00:00       4      69.6  17.833333       14.0
2  1015099999 2024-01-01 02:00:00       4      69.6  17.833333       14.0
3  1015099999 2024-01-01 03:00:00       4      69.6  17.833333       14.0
4  1015099999 2024-01-01 04:00:00       4      69.6  17.833333       14.0

                NAME REPORT_TYPE  CALL_SIGN QUALITY_CONTROL  ...  \
0  HEKKINGEN FYR, NO       FM-12      99999            V020  ...
1  HEKKINGEN FYR, NO       FM-12      99999            V020  ...
2  HEKKINGEN FYR, NO       FM-12      99999            V020  ...
3  HEKKINGEN FYR, NO       FM-12      99999            V020  ...
4  HEKKINGEN FYR, NO       FM-12      99999            V020  ...

            VIS  TMP   DEW      SLP            KA1            KA2  OC1  \
0  999999,9,9,9 -5.8 -11.4  99999,9  120,M,-0058,1  120,N,-0063,1  NaN
1  999999,9,9,9 -5.8 -12.4  99999,9  240,M,-0057,1  240,N,-0061,1  NaN
2  999999,9,9,9 -5.9 -12.1  99999,9  240,M,-0057,1  240,N,-0060,1  NaN
3  999999,9,9,9 -5.9 -11.9  99999,9  240,M,-0058,1  240,N,-0061,1  NaN
4  999999,9,9,9 -5.9 -12.5  99999,9  240,M,-0057,1  240,N,-0060,1  NaN

               OD1                                                REM  \
0  3,99,0120,1,999  SYN05801015 46/// /1310 11058 21114 333 11058 ...
1  3,99,0120,1,999  SYN05801015 46/// /1310 11058 21124 333 11057 ...
2  3,99,0130,1,999  SYN05801015 46/// /1310 11059 21121 333 11057 ...
3  3,99,0120,1,999  SYN05801015 46/// /1311 11059 21119 333 11058 ...
4  3,99,0130,1,999  SYN05801015 46/// /1410 11059 21125 333 11057 ...

  Temp_Dew_Diff
0           5.6
1           6.6
2           6.2
3           6.0
4           6.6

[5 rows x 22 columns]
STATION                     int64
DATE               datetime64[ns]
SOURCE                      int64
LATITUDE                  float64
LONGITUDE                 float64
ELEVATION                 float64
NAME                       object
REPORT_TYPE                object
CALL_SIGN                   int64
QUALITY_CONTROL            object
WND                        object
CIG                        object
VIS                        object
TMP                       float64
DEW                       float64
SLP                        object
KA1                        object
KA2                        object
OC1                        object
OD1                        object
REM                        object
Temp_Dew_Diff             float64
dtype: object
             TMP_mean  TMP_max  TMP_min  DEW_mean  DEW_max  DEW_min  \
Day_Of_Week
Monday       6.296211     24.3     -7.9  1.228004     14.1    -13.7
Tuesday      6.414750     24.9     -9.2  1.605937     14.7    -16.9
Wednesday    6.753677     24.3    -10.1  1.723114     14.1    -16.6
Thursday     6.737616     22.8     -8.8  1.928373     15.3    -14.8
Friday       6.272161     20.8     -8.7  1.586813     14.4    -15.4
Saturday     6.213389     23.1     -8.9  1.690120     14.7    -13.6
Sunday       6.548499     24.0     -5.9  1.957880     15.1    -11.9

             Temp_Dew_Ratio
Day_Of_Week
Monday             5.127192
Tuesday            3.994397
Wednesday          3.919461
Thursday           3.493937
Friday             3.952678
Saturday           3.676300
Sunday             3.344689
TMP_mean          float64
TMP_max           float64
TMP_min           float64
DEW_mean          float64
DEW_max           float64
DEW_min           float64
Temp_Dew_Ratio    float64
dtype: object

In [13]:
print(df.shape[0])
count_99999 = (df["SLP"] == "99999,9").sum()
print(count_99999)

7531
7531